.navul{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    background-color: #9424FF;
}
.navli{
    float:left;
}
.navli a {
    display: block;
    padding: 14px 16px;
    color: white;
    text-decoration: none;
    text-align: center;
}
.navli a:hover{
    background-color: #4B1585;
}

.dropdown{
    float:left;
    overflow: hidden;
}
.dropdown .dropbtn{
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}
.dropdown:hover .dropbtn{
    background-color: #4B1585;
}
.dropdown-content{
    display: none;
    position: absolute;
    z-index: 1;
    background-color: #9424FF;
}

.dropdown-content a{
    float: none;
    color:white;
    padding: 12px 16px;
    display: block;
    text-align: left;
}
.dropdown-content a:hover{
    background-color: #4B1585;
}
.dropdown:hover .dropdown-content{
    display: block;
}

body{
    font-family: "Ubuntu";
}

h1{
    margin-top:5%;
    margin-bottom:2%;
}

.titlebox{
    display:flex;
    align-items: center;
    justify-content: center;
}
.hover-underline{
    margin-top: 2%;
    margin-bottom: 2%;
    text-align: center;
    font-size: 50px;
    color:#9424FF;
    position: relative;
    display: inline-block;
    font-weight: bold;
}
.hover-underline::after, .hover-underline::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    background: #F08B0F;
    bottom: -5px;
    left: 0;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.4s ease-out;
}
.hover-underline::before{
    top: -5px;
    transform-origin: left;
}
.hover-underline:hover::after,
.hover-underline:hover::before{
    transform: scaleX(1);
}

h3{
    margin-top:2%;
    margin-bottom:2%;
    text-align: left;
    margin-left:15%;
    margin-right:15%;
    font-size:24px;
    color:#99E8BC;
}
p{
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 2%;
    line-height: 2;
}

.shadow-dance-text {
  font-size: 4rem;
  color: #9424FF;
  transition: text-shadow 0.1s ease;
  margin-left:10%;
}

hr{
    border: 10px solid #99E8BC;
    border-radius: 5px;
    margin-bottom: 2%;
    margin-top: 2%;
}

img{
    height: 600px;
}
.image-wall{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.solo-image{
    display: block;
    margin:auto;
}

header{
    position: sticky;
    top: 0;
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

footer{
    background-color: #99E8BC;
    padding-bottom: 4%;
    font-size: 20px;
}

h4{
    color: #F08B0F;
    font-size: 30px;
    margin-left:10%;
    margin-top: 2%;
    margin-bottom:10px;
}

.year li{
    margin-left:15%;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right:15%;
}

.detail{
    margin-left:18%;
    margin-right:18%;
    color: #888;
    margin-top: 0px;
}

iframe{
    border:none;
}